

.sidebar{
    user-select: none;
    width: 266px;
    height: 95vh;
    padding-top: 75px;
    border-right: 1px solid #f1f1f1;
    background-color: #fafafa;
}
.icon{
    margin-right: 15px;
}
.sidebar div{
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
}
.sidebar div.active{
    background-color: rgb(241, 207, 207);
}
