.tasks {
  background-color: rgb(255, 242, 242);

  height: 100vh;
  width: calc(922px - 266px);
  padding: 74px 20px 0;
}
.addTask-text {
  cursor: pointer;
}
.plus {
  color: #dd4b49;
}
.add-task {
  color: #545454;
  font-size: 14px;
  margin-left: 15px;
  font-weight: 900;
}
.add-task-data {
  margin-top: 10px;
}
.add-task-data input {
  width: 100%;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 3px;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.addTask-btn {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.add-btn {
  background-color: #db4c13;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
  padding: 5px 10px 7px 10px;
  cursor: pointer;
}
.add-btn:disabled{
    background-color: grey;
}
.add-btn:active{
    transform: scale(0.9);
}
.cancel-btn {
  background-color: #db4c13;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
  padding: 5px 10px 7px 10px;
  cursor: pointer;
}

.cancel-btn:active{
    transform: scale(0.9);
}

.head,td{
  border-bottom: 1px solid black;
  padding-left: 40px;
  margin: 5px;
  font-size: 17px;
}

thead{
  width: 100%;
  font-weight: bold;
}
table{
  width: 100%;
  margin-top: 10px;
  border: 1px solid black;
  background-color: antiquewhite;
  border-collapse: collapse;
}
